////////////////////////////////////////////
// 		FOOTER
/////////////////////////////////////////

section.footer
	.wrapper

		//- ===================================
		//- 		QUICK LINK
		//- ===================================

		// QUICK LINK  ------------------------------------------------
		section.quickLink
			h2 Quick-Link
			+companyLogo1(companyLogoEnabled)
			//- on :hover you'll need the custom bar to appear and pad/indent the link
			div.linkbox
				a(href="#") My Account
				a(href="#") Contact Us
				a(href="#") Store Location
				a(href="#") Size Guide
				a(href="#") Shipping Info
		// END QUICK LINK ------------------------------------------------
		
		//- END QUICK LINK
		

		//- ===================================
		//- 		RECENT BLOGS
		//- ===================================

		// RECENT BLOGS  ------------------------------------------------
		section.recentBlogs
			h2 Recent Blogs
			+companyLogo1(companyLogoEnabled)
			//- when you hover over the item a "Read More" should appear
			//- enter blog entries
			+blogHeadlineEntry1('Top 10 Trending Dresses')
			+blogHeadlineEntry1('The Awesome V-Line')
			+blogHeadlineEntry1('News About Opening Hours of the Store')
		// END RECENT BLOGS ------------------------------------------------
		

		//- END RECENT BLOGS
		
		
		//- ===================================
		//- 		TAGS
		//- ===================================

		// TAGS  ------------------------------------------------
		section.tags
			h2 Tags
			+companyLogo1(companyLogoEnabled)
			div.tagBox
				a(href="#") Dress
				a(href="#") Lips
				a(href="#") Dotted
				a(href="#") Accessories
				a(href="#") Cami
				a(href="#") Cross
				a(href="#") Abstract
				a(href="#") Babydoll
				a(href="#") Saleoff
				a(href="#") Floral
		// END TAGS ------------------------------------------------
		

		//- END TAGS
		
		
		//- ===================================
		//- 		CONTACT US
		//- ===================================

		// CONTACT US  ------------------------------------------------
		section.contactinfo
			h2 Find Us On
			+companyLogo1(companyLogoEnabled)
			aside.socialIcons
				//- the following are pure links <a> with a <span> child
				//- a(href=fbLink,class='fa-facebook')
				//- a(href=twitterLink,class='fa-twitter')
				//- a(href=pinterestLink,class='fa-pinterest')
				//- a(href=instagramLink,class='fa-instagram')
				//- a(href=gplusLink,class='fa-google-plus')
				+iconLink042315a('fa-facebook',fbLink)
				+iconLink042315a('fa-twitter',twitterLink)
				+iconLink042315a('fa-pinterest',pinterestLink)
				+iconLink042315a('fa-instagram',instagramLink)
				+iconLink042315a('fa-google-plus',gplusLink)
			aside.twitterFeed
				+twitterEntry1('@Kyles','Lorem ipsum dolor sit amet, consectetur adipisicing elit.','5h')
				+twitterEntry1('@James','Lorem ipsum dolor sit amet, consectetur adipisicing elit.','6h')
		// END CONTACT US ------------------------------------------------
		

		//- END CONTACT US

//- ===================================
//- 		COPYRIGHT
//- ===================================

// COPYRIGHT  ------------------------------------------------
section.copyright
	.wrapper
		//- make the p element a block
		div.copyright
			p Copyright 2015 By Lady Store . All rights reserved
		nav.menu
			+linkTemplate042115a('Home Page',homeLink)
			+linkTemplate042115a('About Us',aboutLink)
			+linkTemplate042115a('Payment',payLink)
			+linkTemplate042115a('Shipping',shipLink)
		div.credits
			p Photo Credits: 
				a(href="http://www.clubmonaco.com/") Club Monaco
				| , 
				a(href="https://us.aritzia.com/") Aritzia
				| , 
				a(href="http://www.ca.allsaints.com/") All Saints
				| , 
				a(href="https://www.pinterest.com/") Pinterest
// END COPYRIGHT ------------------------------------------------


//- END COPYRIGHT		


////////////////////////////////////////////