//- ===================================
//- 		MIXINS PROJECT
//- ===================================

//- These mixins are specific to this project only.
//- move mixins here only if they are required in other sections of the site


//- ===================================
//- 		SLIDE OUT SHOPPING CART
//- ===================================

//- the slide out shopping cart should appear when the user scrolls down to the products and disappear once it leaves the product section

mixin slideOutShoppingCart1
	//- aside.slideOutShoppingCart
	//- 	span.fa.fa-shopping-cart
	//- 		//- slanted slash... to follow site style
	//- 		div.slash
	//- 			//- where the div.slash is used to create the slash that goes behind the icon... you'll need to give the font-awesome icon a background to obscure it?
			
	//- 		//- use to display the number of cart items
	//- 		//- the number should only appear when Javascript inserts it... any numbers below are test numbers
	//- 		//- span.shopCartCount 0
	//- 		//- span.shopCartCount
	//- 		div.shopCartField
	//- 			span.shopCartCount 0

	aside.slideOutShoppingCart
		span.fa.fa-shopping-cart
			//- slanted slash... to follow site style
			div.slash
				//- where the div.slash is used to create the slash that goes behind the icon... you'll need to give the font-awesome icon a background to obscure it?
		div.frame
			//- use to display the number of cart items
			//- the number should only appear when Javascript inserts it... any numbers below are test numbers
			//- span.shopCartCount 0
			//- span.shopCartCount
			//- div.shopCartField
			span.shopCartCount

//- END SLIDE OUT SHOPPING CART


//- ===================================
//- 		COMPANY LOGO
//- ===================================

mixin companyLogo1(placeHolder)
	//- dimensions are 60x30px
	//- you could construct this image using html and css or SVG
	//- logo goes here
	//- create a mixin to construct it and insert here
	//- it is the same size throughout
	//- NOTE: the CSS styling of the logo in the .footer is different as the slanted slash is made yellow so it's visible agaisnt black background
	
	if placeHolder
		aside.companyLogo
			.bar
				.slash
				//- place this shader after .slash so that it will naturally cover the .slash without using z-index which is tough to use
				.extraShader
	else
		aside.companyLogo
			img(src="http://lorempixel.com/60/30", alt="Icon Placeholder")

//- END COMPANY LOGO


//- ===================================
//- 		PRIMARY NAVIGATION MENU
//- ===================================

mixin banner1
	section.banner
		.wrapper
			div
				p Free Shipping Over $50
			div
				//- p Login / Sign Up
				a(href="#") Login
					| / 
					a(href="#") Sign Up
			div
				//- what if I place the image inline instead for greater control
				img(src="./images/cart.png", alt="cart")
				//- p 1 Items
				a(href="#")
					//- span.cartCount 1
					span.cartCount 0
					| Items
			div
				p $35

mixin banner2
	//- this verson allows us to use flex: 1 for proportional spacing
	section.banner
		.wrapper
			p Free Shipping Over $50
			//- p Login / Sign Up
			a(href="#") Login
					| / 
					a(href="#") Sign Up
			//- what if I place the image inline instead for greater control
			img(src="./images/cart.png", alt="cart")
			//- p 1 Items
			a(href="#")
				span.cartCount 1 
				| Items
			p $35


//- END PRIMARY NAVIGATION MENU


//- ===================================
//- 		PRODUCTS - NEW ARRIVALS, DRESS COLLECTION
//- ===================================

mixin collectionUnit1(uClass,prodName,priceVal,imgSrc,altText)
	//- for section.collectionDisplay
	//- where uClass,prodName,priceVal are strings
	
	section(class=uClass).collectionUnit
		.imageHolder
			//- image dimension 190x331px
			if imgSrc
				img(src=imgSrc, alt=altText)
			else
				img(src="http://lorempixel.com/190/331", alt="Placeholder Image")
			.imgShader1
				a(href="#") Add to Cart
		//- Chifon &amp; Floral Dress
		h3=prodName
		//- $22.5
		p=priceVal
		div.colourSelect
			//- clicking on the colour select should switch the image or substitute a different one by changing the src
			a(href="javascript:void(0)").colour1
			a(href="javascript:void(0)").colour2

mixin collectionUnit2(uClass,prodName,priceVal)
	//- for section.collectionDisplay
	//- where uClass,prodName,priceVal are strings
	
	//- in this version we will setup the image using background instead of an <img> or <picture> element
	
	section(class=uClass).collectionUnit
		//- image dimension 190x331px
		.imgHolder
			.imgShader
				+addToCartButton1
		//- Chifon &amp; Floral Dress
		h3=prodName
		//- $22.5
		p.price=priceVal
		div.colourSelect
			//- clicking on the colour select should switch the image or substitute a different one by changing the src
			//- width height = 28x12px
			a(href="javascript:void(0)").colour1
			a(href="javascript:void(0)").colour2

mixin purchaseShader1
	//- each of the parents must have a position relative
	//- it must be placed within the parent container
	//- refine this within one of the test divs
	
	if block
		block
	else
		div.purchaseShader
			p.price
				span $
				| 99
			a(href='javascript:void(0)').button
				div.button
					//- for the slanted slash
					div.slash				
					//- the div will hold the before element
					p.text Add to Cart

mixin addToCartButton1
	if block
		block
	else
		div.addToCartButton
			a(href='javascript:void(0)').button
				div.button
					//- for the slanted slash
					div.slash
					//- the div will hold the before element
					p.text Add to Cart

//- END PRODUCTS - NEW ARRIVALS, DRESS COLLECTION


//- ===================================
//- 		TESTIMONIALS
//- ===================================

mixin testimonialEntry1(name,quoteText,uniqueID)
	//- size 539x133px
	section(class=uniqueID).testimonialEntry
		.entryText
			// for the slanted slash
			div.slash
			//- div
			// the best way to get the right background setup to blot out the slash behind it is to make cite a child of blockquote and apply a margin top to cite
			blockquote=quoteText
				cite=name

//- END TESTIMONIALS


//- ===================================
//- 		FEATURED ITEMS
//- ===================================

mixin selectEntry1(heading,priceVal,imgSrc,altText)
	section.selectEntry
		//- image dimensions 51x86px
		if imgSrc
			div.image
				img(src=imgSrc, alt=altText)
		else
			div.image
				img(src="http://lorempixel.com/51/86", alt="Lorem Placeholder")
		.meta
			h3=heading
			p.price=priceVal
			div.colourSelect
				//- clicking on the colour select should switch the image or substitute a different one by changing the src
				a(href="#").colour1
				a(href="#").colour2

mixin newInEntry1
	// NEW IN ENTRY PRODUCT  ------------------------------------------------
	section.featureEntry
		h2 New-In
		.topBar
			div.logo
				+companyLogo1(companyLogoEnabled)
			nav
				span.fa.fa-angle-left
				span.fa.fa-angle-right
		.selections
			+selectEntry1('Abstract Dooted Dress','$21.5')
			+selectEntry1('Flair Trap Dress','$22.5')
			+selectEntry1('Chipon & Floral Dress','$23.5')
	// END NEW IN ENTRY PRODUCT ------------------------------------------------


mixin featuredEntry1
	// FEATURED ENTRY PRODUCT  ------------------------------------------------
	section.featureEntry
		h2 Featured
		.topBar
			div.logo
				+companyLogo1(companyLogoEnabled)
			nav
				span.fa.fa-angle-left
				span.fa.fa-angle-right
		.selections
			+selectEntry1('Teenager Dress','$22.5')
			+selectEntry1('Warm Dress','$25.5')
			+selectEntry1('Dotted Mosaic Dress','$21.5')
	// END FEATURED ENTRY PRODUCT ------------------------------------------------

mixin topPickEntry1
	// TOP PICK ENTRY PRODUCT  ------------------------------------------------
	section.featureEntry
		h2 Top
		.topBar
			div.logo
				+companyLogo1(companyLogoEnabled)
			nav
				span.fa.fa-angle-left
				span.fa.fa-angle-right
		.selections
			+selectEntry1('Abstract Dooted Dress','$21.5')
			+selectEntry1('Flair Trap Dress','$22.5')
			+selectEntry1('Chipon & Floral Dress','$23.5')
	// END TOP PICK ENTRY PRODUCT ------------------------------------------------
	

//- END FEATURED ITEMS




//- ===================================
//- 		FOOTER
//- ===================================

mixin blogHeadlineEntry1(headline,imgSrc,altText)
	aside.blogHeadline
		div.image
			//- image 52x43px
			if imgSrc
				img(src=imgSrc, alt=altText)
			else
				img(src="http://lorempixel.com/52/43", alt="Lorem Placeholder Image")
		
		.meta
			h4=headline
			
			//- this element may need to be absolutely positioned where .meta is position relative
			//- we may need to child a child selector > on .meta:hover (i.e. .meta:hover > a.readMore)
			//- the initial state should be display none
			a(href="http://", target="_blank").readMore Read More

mixin twitterEntry1(headline,tweet,timeElapse)
	if block
		block
	else
		aside.twitterEntry
			.text
				h2=headline
				p=tweet
			.time
				p=timeElapse


//- END FOOTER





//- END MIXINS PROJECT 