////////////////////////////////////////////
// 		PRIMARY NAVIGATION MENU
/////////////////////////////////////////

// this is the side wide primary navigation menu

//- ===================================
//- 		MIXINS
//- ===================================

mixin banner1
	section.banner
		.wrapper
			div
				p Free Shipping Over $50
			div
				//- p Login / Sign Up
				a(href="#") Login
					| / 
					a(href="#") Sign Up
			div
				//- what if I place the image inline instead for greater control
				img(src="./images/cart.png", alt="cart")
				//- p 1 Items
				a(href="#")
					span.cartCount 1 
					| Items
			div
				p $35

mixin banner2
	//- this verson allows us to use flex: 1 for proportional spacing
	section.banner
		.wrapper
			p Free Shipping Over $50
			//- p Login / Sign Up
			a(href="#") Login
					| / 
					a(href="#") Sign Up
			//- what if I place the image inline instead for greater control
			img(src="./images/cart.png", alt="cart")
			//- p 1 Items
			a(href="#")
				span.cartCount 1 
				| Items
			p $35


//- END MIXINS


header.navMenu.nav042715
	+banner1
	//- +banner2
	section.search.logo
		.wrapper
			div
				//- could insert a span.fa.fa-icon here
				//- use ::before to place icon before
				input(placeholder='Search Something').search
			//- dimensions 55x55px
			img(src="./images/logo.png", alt="Logo")
	nav
		.wrapper
			//- this each loop doesn't work
			//- each key,value in navLinkObj
			//- 	+linkTemplate042115a(key,value)

			//- +linkTemplate042115a('New Arrivals',newArrivalsLink)
			//- +linkTemplate042115a('Women',womenLink)
			//- +linkTemplate042115a('Men',menLink)
			//- +linkTemplate042115a('Accessories',accessoriesLink)
			//- +linkTemplate042115a('Dress',dressLink)
			//- +linkTemplate042115a('Sales-Off',saleOffLink)
			//- +linkTemplate042115a('Lookbook',lookbookLink)
			//- +linkTemplate042115a('This Week',thisWeekLink)
		
			ul
				//- +linkTemplate033115a('New Arrivals',newArrivalsLink)
				//- +linkTemplate033115a('Women',womenLink)
				//- +linkTemplate033115a('Men',menLink)
				//- +linkTemplate033115a('Accessories',accessoriesLink)
				//- +linkTemplate033115a('Dress',dressLink)
				//- +linkTemplate033115a('Sales-Off',saleOffLink)
				//- +linkTemplate033115a('Lookbook',lookbookLink)
				//- +linkTemplate033115a('This Week',thisWeekLink)

				+linkTemplate033115a('New Arrivals',newArrivalsLink)
					li
						a(href=newArrivalsLink) New Arrivals
				+linkTemplate033115a('Women',womenLink)
					li
						a(href=womenLink) Women
				+linkTemplate033115a('Men',menLink)
					li
						a(href=menLink) Men
				+linkTemplate033115a('Accessories',accessoriesLink)
					li
						a(href=accessoriesLink) Accessories
				+linkTemplate033115a('Dress',dressLink)
					li
						a(href=dressLink) Dress
				+linkTemplate033115a('Sales-Off',saleOffLink)
					li
						a(href=saleOffLink) Sales-Off
				+linkTemplate033115a('Lookbook',lookbookLink)
					li
						a(href=lookbookLink) Lookbook
				+linkTemplate033115a('This Week',thisWeekLink)
					li
						a(href=thisWeekLink) This Week

////////////////////////////////////////////