////////////////////////////////////////////
// 		PRIMARY NAVIGATION MENU
/////////////////////////////////////////

// this is the side wide primary navigation menu

header.navMenu.nav042715
	// BANNER STRIP AT THE TOP  ------------------------------------------------
	// this is the section above the logo segment and includes the shopping cart
	+banner1
	//- +banner2
	// END BANNER STRIP AT THE TOP ------------------------------------------------
	
	// SEARCH & LOGO SEGMENT  ------------------------------------------------
	// this section contains the site search field and the logo
	section.search.logo
		.wrapper
			div
				//- could insert a span.fa.fa-icon here
				//- use ::before to place icon before
				input(placeholder='Search Something').search
			//- dimensions 55x55px
			img(src="./images/logo.png", alt="Logo")
	// END SEARCH & LOGO SEGMENT ------------------------------------------------
	
	// NAVIGATION MENU  ------------------------------------------------
	// this is the actual html for the navigation menu
	nav
		.wrapper		
			ul
				+linkTemplate033115a('New Arrivals',newArrivalsLink)
					li
						a(href=newArrivalsLink) New Arrivals
							div.slash
				+linkTemplate033115a('Women',womenLink)
					li
						a(href=womenLink) Women
							div.slash
				+linkTemplate033115a('Men',menLink)
					li
						a(href=menLink) Men
							div.slash
				+linkTemplate033115a('Accessories',accessoriesLink)
					li
						a(href=accessoriesLink) Accessories
							div.slash
				+linkTemplate033115a('Dress',dressLink)
					li
						a(href=dressLink) Dress
							div.slash
				+linkTemplate033115a('Sales-Off',saleOffLink)
					li
						a(href=saleOffLink) Sales-Off
							div.slash
				+linkTemplate033115a('Lookbook',lookbookLink)
					li
						a(href=lookbookLink) Lookbook
							div.slash
				+linkTemplate033115a('This Week',thisWeekLink)
					li
						a(href=thisWeekLink) This Week
							div.slash
	// END NAVIGATION MENU ------------------------------------------------
	

////////////////////////////////////////////