////////////////////////////////////////////
// 		PRODUCTS DISPLAY
/////////////////////////////////////////

// display the products like a storefront

//- ===================================
//- 		MIXINS
//- ===================================

mixin collectionUnit1(uClass,prodName,priceVal,imgSrc,altText)
	//- for section.collectionDisplay
	//- where uClass,prodName,priceVal are strings
	
	section(class=uClass).collectionUnit
		.imageHolder
			//- image dimension 190x331px
			if imgSrc
				img(src=imgSrc, alt=altText)
			else
				img(src="http://lorempixel.com/190/331", alt="Placeholder Image")
			.imgShader1
				a(href="#") Add to Cart
		//- Chifon &amp; Floral Dress
		h3=prodName
		//- $22.5
		p=priceVal
		div.colourSelect
			//- clicking on the colour select should switch the image or substitute a different one by changing the src
			a(href="javascript:void(0)").colour1
			a(href="javascript:void(0)").colour2

mixin collectionUnit2(uClass,prodName,priceVal)
	//- for section.collectionDisplay
	//- where uClass,prodName,priceVal are strings
	
	//- in this version we will setup the image using background instead of an <img> or <picture> element
	
	section(class=uClass).collectionUnit
		//- image dimension 190x331px
		.imgHolder
			.imgShader
				+addToCartButton1
		//- Chifon &amp; Floral Dress
		h3=prodName
		//- $22.5
		p.price=priceVal
		div.colourSelect
			//- clicking on the colour select should switch the image or substitute a different one by changing the src
			//- width height = 28x12px
			a(href="javascript:void(0)").colour1
			a(href="javascript:void(0)").colour2

//- END MIXINS

section.newArrivals
	.wrapper
		p.introHead The New Arrivals
		h2 Trending

		+companyLogo1(companyLogoEnabled)
		//- //- ===================================
		//- //- 		COMPANY LOGO
		//- //- ===================================
		//- +companyLogo1
		//- //- if company logo isn't finished use the image as a placeholder
		//- img(src="http://lorempixel.com/60/30", alt="Icon Placeholder")
		//- //- END COMPANY LOGO
		
		p.subhead Define your wardrobe with accessories

		section.wardrobeDisplay
			//- the images may require a transparent background
			//- the background colour will have to be set
			//- little boxes are 211x211px
			div.left
				div.top
					div.left
						//- dimensions 211x420px
						h3 Sweater
						p.copy Bring our style
						p.price $125
						+purchaseShader1
					div.right
						div.top
							+purchaseShader1
						div.bottom
							+purchaseShader1
				div.bottom
					div.left
						+purchaseShader1
					div.right
						+purchaseShader1
			div.right
				div.top
					div.left
						+purchaseShader1
					div.right
						+purchaseShader1
				div.bottom
					div.left
						//- dimensions 420x420px
						div.top
						div.bottom
							div.copy
								h3 Full Options
								p.copy Body and Smiling
								p.price $399
							+purchaseShader1
					div.right
						+purchaseShader1

section.dressCollection
	.wrapper
		p.introHead Dress Collection

		//- jQuery required to give function and enlarge the selected
		//- each selection displays a new set
		//- when random is clicked write a random function that selects among numbered images each time for that entry image and changes it
		//- or the random randomly selects a certain number of divs?
		nav
			a(href="javascript:void(0)").popular
				h2 Popular
			span.divider  / 
			a(href="javascript:void(0)").recent
				h2 Recent
			span.divider  / 
			a(href="javascript:void(0)").random
				h2 Random

		+companyLogo1(companyLogoEnabled)
		//- //- ===================================
		//- //- 		COMPANY LOGO
		//- //- ===================================
		//- +companyLogo1
		//- //- if company logo isn't finished use the image as a placeholder
		//- img(src="http://lorempixel.com/60/30", alt="Icon Placeholder")
		//- //- END COMPANY LOGO
		
		//- ===================================
		//- 		COLLECTION DISPLAY
		//- ===================================

		section.collectionDisplay
			//- +collectionUnit1('chifonFloral','Chifon & Floral Dress','$22.5')
			//- +collectionUnit1('camiStrap','Cami Strap Dress','$23.5')
			//- +collectionUnit1('flareStrap','Flare Strap Dress','$19.0')
			//- +collectionUnit1('flareStrap','Abstract Dooted Dress','$21.5')
			//- +collectionUnit1('chifonFloral','Chifon &amp; Floral Dress','$22.5')
			//- +collectionUnit1('camiStrap','Cami Strap Dress','$23.5')
			//- +collectionUnit1('flareStrap','Flare Strap Dress','$19.0')
			//- +collectionUnit1('flareStrap','Abstract Dooted Dress','$21.5')

			+collectionUnit2('chifonFloral','Chifon & Floral Dress','$22.5')
			+collectionUnit2('camiStrap','Cami Strap Dress','$23.5')
			+collectionUnit2('abstractDDress','Flare Strap Dress','$19.0')
			+collectionUnit2('flareStrap','Abstract Dooted Dress','$21.5')
			+collectionUnit2('chifonFloral','Chifon & Floral Dress','$22.5')
			+collectionUnit2('camiStrap','Cami Strap Dress','$23.5')
			+collectionUnit2('flareStrap','Flare Strap Dress','$19.0')
			+collectionUnit2('abstractDDress','Abstract Dooted Dress','$21.5')

		//- END COLLECTION DISPLAY

		


////////////////////////////////////////////